<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>JAAAC Store</h1>
      <p><%= link_to 'Home', root_path %> | <%= link_to 'Figures by Series', series_index_path %> | <%= link_to 'Figures by Character', characters_path %></p>
    </header>
    <%= yield %>
    <footer>
      <p><%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %> <br>
        (C) JAAAC 2018
      </p>
    </footer>
  </body>
</html>
